<h1>Restaurants</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li id="restaurant_<%= restaurant.id %>">
      <%= link_to restaurant.name, restaurant_path(restaurant) %>
      <p><%= link_to "delete", restaurant_path(restaurant), method: :delete, remote: true %></p>
      <p><%= link_to "edit", edit_restaurant_path(restaurant) %></p>
    </li>
  <% end %>
</ul>

<%= render 'restaurants/form', restaurant: @restaurant %>

